NEXT_PUBLIC_SUPABASE_URL=https://jbonyvhecqqnngqlmomh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impib255dmhlY3Fxbm5ncWxtb21oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNjMzMTUsImV4cCI6MjEwMzgzOTMxNX0.mdy636fq007F-kNkh9gEhyP8z4IGViqs5YZQ08st8DE
# Optional: set your own after creating Supabase project
# NEXT_PUBLIC_SITE_URL=http://localhost:3000
